<div class="toolbar">
  <span style="margin-left:650px;font-size: larger;font-family:Verdana, Geneva, Tahoma, sans-serif;">Employee's Issue form </span>
</div>
<div style="margin-left:550px;margin-top: 100px;">
  <div>
    <mat-form-field style="width: 200%;">
      <mat-label>First Name</mat-label>
      <input matInput>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field style="width: 200%;">
      <mat-label>Last Name</mat-label>
      <input matInput>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field style="width: 200%;">
      <mat-label>Enter your email</mat-label>
      <input
        matInput
        placeholder="pat@example.com"
        [formControl]="email"
        (blur)="updateErrorMessage()"
        required
      />
      <!-- @if (email.invalid) {
        <mat-error>{{errorMessage()}}</mat-error>
      } -->
    </mat-form-field>
  </div>

  <div>
    <mat-form-field style="width: 200%;">
      <mat-label>Mobile Number</mat-label>
      <input matInput>
    </mat-form-field>
  </div>

  
  <div>
    <mat-form-field style="width: 200%;">
      <mat-label>Martail Status</mat-label>
      <mat-select>
        <mat-option value="one">Single</mat-option>
        <mat-option value="two">Married</mat-option>
        <mat-option value="three">Divorced</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field style="width: 200%;">
      <mat-label>Issue Description</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
  </div>
 
  <div class="example-button-row">
    <button mat-flat-button>Submit</button>
  </div>

</div>
